:root {
    --white-color: white;
    --black-color: #000;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "MergeBlack";
    box-sizing: border-box;
}
.header {
    background-color: #c81f34;
    color: var(--white-color);
    z-index: 500;
    box-shadow: 0px 4px 4px 0 rgb(0 0 0 / 30%);
}
.header-logo {
    padding-left: 78px;
    padding-right: 15px;
    margin-bottom: -4px;
}
.logo-img img {
    width: 100px;
}

.navbar-body {
    display: flex;
    flex-direction: column;
    flex: 5;
    height: 96px;
    width: 83.33333333%;
}
.user {
    display: flex;
    justify-content: end;
    margin-top: 8px;
    align-items: center;

}

.user a {
    text-decoration: none;
    
}
.btn-icon {
    width: 36px;
    height: 36px;
    margin: 0;
    display: inline-block;
    color: var(--white-color);
    font-size: 2.4rem;
    border-radius: 50%;
    position: relative;
    margin-right: 5px;
    text-align: center;
    transition: all 0.5s;
}

.btn-icon:hover {
    background: white;
    color: #CE181F;
}
.btn-icon::after {
    content: '';
    box-sizing: content-box;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(0.8);
    opacity: 0;
    top: -4px;
    left: -4px;
    padding: 4px;
    box-shadow: 0 0 0 2px #fff;
}

.btn-icon:hover::after {
    transform: scale(1);
    opacity: 1;
}

.login-item {
    color: var(--white-color);
    font-size: 12px;
}
.lang {
    font-size: 16px;
    padding-left: 18px;
}
.lang-item{
    color: var(--white-color);
    
}
.active-lang,
.lang-item:hover {
    color: #FAC437;
}

.navbar-list {
    margin-top: 7.8px;
    font-size: 12px;
    margin-right: 40px;
    position: relative; 
    margin-left: 28px;
}

.navbar-item > a {
    display: block;
    padding: 13px 5px;
    border-radius: 10px 10px 0 0;
    color: var(--white-color);
    font-weight: 800;
    margin: 0 5.5px;
}
.navbar-list .navbar-item:hover .navbar-link{
    color: #950E08;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px 10px 0 0;
}

.navbar-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    font-weight: 700;
    color: var(--bs-nav-link-color);
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.navbar-nav .navbar-link.active {
    color: #950E08;
    background-color: rgba(255, 255, 255, 0.8);
}
.delivery {
    display: flex;
    justify-content: end;
    padding: 1rem;
}
.devivery-img {
    width: 100%;
}

.children:hover .menu-list {
    visibility: inherit;
    opacity: 1;
}

.menu-list {
    visibility: hidden;
    opacity: 0;
    position: absolute;  
    width: 118%;
    left: -92px;
    right: 0;
    background: #F4D2D6;
    border-radius: 0 0 20px 20px;
    transition: all 0.2s linear;
}


.menu-list li {
    display: inline-block;
    padding: 10px;
    overflow: hidden;
}

.menulist-img {
    max-width: 10rem;
    margin: 0 auto 10px;
    transition: all 0.2s ease-in 0s;
    display: inline-block;
    vertical-align: middle;
}

.menu-item h5 {
    color: #411e10;
    font-size: 1.1rem;
    font-weight: 800;
}

.menu-list li:hover .menulist-img {
    transform: scale(1.1);
}
.lang-mb {
    padding:6px 10px 10px 10px;
}

.lang-mb ,
.lang-mb a{
    font-size: 16px;
    text-decoration: none;
}

.delivery-logo .devivery-img:hover {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.list-icon__item {
    display: inline-block;
    margin: 10px 10px 0;
    color: #353535;
    font-size: 2rem;
    background-color: #fff;
    border-radius: 50%;
    padding: 4px;
    text-align: center;
    width: 40px;
    height: 40px;
}
.list-icon__item i {
    line-height: 32px;
}
.Thucdon_background
{
    width: 100%;
}
.thanh_menu
{
    width: 100%;
    height: 56px;
    background-color: #CE181F;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    position:sticky;
    top: 0;
    z-index: 1;
}
.thanh_menu .navbar-item2 
{
    display: block;
    font-family: "MergeBlack";
    padding: 18px 6px; 
    /* line-height:56px; */
    color: var(--white-color);
    font-weight: 800;
    font-size:11px;
    margin: 0 8px;
}
.thanh_menu .navbar-item2:hover
{
    background-color: #ffde94;
    color: red;
}
.thanhmenu_active
{
    background-color: #ffde94;
    color: red !important ; 
}
.thanh_menu .navbar-link2
{
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    font-weight: 700;
    color: var(--bs-nav-link-color);
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
#thucdon_container
{
    background-image:url("../img/anhwebjollibee/bg-top.png"), url(../img/anhwebjollibee/bg-bottom.png);
    padding-top: 130px;
    width: 100%;
    height:1100px;
    background-repeat: no-repeat, no-repeat;
    background-position: center top, center calc(100% - 80px);
    background-size: 100% auto, 100% auto;
    position: relative;
   
    
}
.button_custom {
    font-family: "MergeBlack", sans-serif;
    -webkit-transition: all 0.2s linear, visibility 0;
    -o-transition: all 0.2s linear, visibility 0;
    transition: all 0.2s linear, visibility 0;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    color: white;
    border: none;
    border-radius: 5px;
    
  }
  .button_custom::after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    transform: rotate(35deg);
    -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 1;
  }
  .button_custom:hover::after {
    left: 120%;
    -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    color: #fff;
  }
  .button_custom-yellow {/* muon thanh do thi doi background color di la dc vs ten class nua*/
    background-color: #e97c00;
    font-size: 1.5625rem;
    position: relative;
    left: 80%;
    top:-10px;
    padding: 10px 13px;
    
    
  }
.thucdon_combo{
    width:65%;
    height:945px; 
    margin: 0 auto;
    display: none;
    flex-wrap: wrap;

}
.select_food
{
    width: 330px;
    height: 470px;
    text-align: center;
    font-family: "MergeBlack";
    padding: 30px;
  

}
.border_right_bottom{
    border-right: 3px dashed #ffd984 ;
    border-bottom: 3px dashed #ffd984 ;
}
.border_right{
    border-right: 3px dashed #ffd984 ;
}
.border_bottom
{
    border-bottom: 3px dashed #ffd984 ;
}
@font-face {
    font-family: MergeBlack;
    src: url("../Font/MergeBlack.woff");
}


.price
{
    display:block;/*đổi lại kiểu hiển thị*/
    font-size:18px;
    color:#CE181F;
    text-align: center;
    font-family: "MergeBlack";
}  
.button_custom-red
{
    background-color: #c62026;;
    font-size: 1.5625rem;
    padding: 5px 30px;
    margin-top: 15px;
 
}
.thucdon_gagionvuive
{
    width:65%;
    /* height:1097px;  */
    margin: 0 auto;
    display: none;
    flex-wrap: wrap;
}
.display_flex {
    display: flex !important;
}
.thucdon_gasotcay
{
    width:65%;
    /* height:1097px;  */
    margin: 0 auto;
    display: none;
    flex-wrap: wrap;
}
.thucdon_myysotbobam{
    width:65%;
    /* height:1097px;  */
    margin: 0 auto;
    display: none;
    flex-wrap: wrap;
}
.thucdon_bugger_com{
    width:65%;
    /* height:1097px;  */
    margin: 0 auto;
    display: none;
    flex-wrap: wrap;
}.thucdon_phananphu{
    width:65%;
    /* height:1097px;  */
    margin: 0 auto;
    display: none;
    flex-wrap: wrap;
}.thucdon_montrangmieng{
    width:65%;
    /* height:1097px;  */
    margin: 0 auto;
    display: none;
    flex-wrap: wrap;
}
@media (max-width: 1199px) {
    .navbar-body {
        display: none;
    }
    
    .header-logo {
        padding-left: 8px;
        text-align: center;
    }
}
@media (max-width: 576px) {
    .logo-img img {
        width: 63%;
    }
    
}

@media (max-width:790px)
{
    .thanh_menu
    {
        height: 100px;
        
     }
}

