body{
    background-image: url(/img/bg_pattern.png);
}
.banner{
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.4);
    position: relative;
}

.img-full-width{
    width: 100%;
    cursor: pointer;
}

.container{
    width: 77%;
    background-color: #fff;
}
.form-buttons{
    width: 100%;
    vertical-align: baseline;
}
.form-label{
    margin-left: 25%;
    width: 50%;

}
.title{
    color: #ca1133;
    margin-top: 120px;
    margin-bottom: 80px;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3rem;
    text-transform: uppercase;
    font-family: MergeBlack;
    text-align: center;
}
.col1{
    
    text-align: left;
}
.form-group{
   width: 100% ;
  font-size: 1.5rem;
  margin-bottom: 40px;
  display: flex;
  /* justify-content: space-between; */
  justify-content: flex-start;
  align-items: center;
}

.form-group label {
    flex: 2;
}

.form-group input,
.form-group div {
    flex: 5;
}
.linebotom{
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #ddd;
}
.name{
  float: left;
  
  /* padding-bottom: 20px; */
}
.text:focus{
    border-color: #fac437
}
.text{

padding-left: 15px;
padding-right: 15px;
}
label{
    display: inline-block;
    max-width: 100%;
    cursor: default;
}
span{
    margin: 0%;
    padding: 0%;
    border: 0;
    
}
.form-group input{
    width: 60%;
    height: 36px;
}

p{
    display: block;
    font-size: 15px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
span a{
    color: black;
    
    font-weight: bold;
}