h3{
    height:75px;
}

.Thucdon_background
{
    width: 100%;
}
.thuc_don{
    /* justify-content: center; */
    padding-left:5.5vw;
}
.thanh_menu
{
    width: 100%;
    height: 56px;
    background-color: #CE181F;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    position:sticky;
    top: 0;
    z-index: 1;
}
.thanh_menu .navbar-item2 
{
    display: block;
    font-family: "MergeBlack";
    padding: 18px 6px; 
    /* line-height:56px; */
    color: var(--white-color);
    font-weight: 800;
    font-size:11px;
    margin: 0 8px;
}
.thanh_menu .navbar-item2:hover
{
    background-color: #ffde94;
    color: red;
}
.thanhmenu_active
{
    background-color: #ffde94;
    color: red !important ; 
}
.thanh_menu .navbar-link2
{
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    font-weight: 700;
    color: var(--bs-nav-link-color);
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
#thucdon_container
{
    background-image:url("../img/anhwebjollibee/bg-top.png"), url(../img/anhwebjollibee/bg-bottom.png);
    padding-top: 130px;
    width: 100%;
    /* height:1500px; */
    background-repeat: no-repeat, no-repeat;
    background-position: center top, center calc(100% - 80px);
    background-size: 100% auto, 100% auto;
    position: relative;
    
   
    
}
.button_custom {
    font-family: "MergeBlack", sans-serif;
    -webkit-transition: all 0.2s linear, visibility 0;
    -o-transition: all 0.2s linear, visibility 0;
    transition: all 0.2s linear, visibility 0;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    color: white;
    border: none;
    border-radius: 5px;
    
  }
  .button_custom::after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    transform: rotate(35deg);
    -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 1;
  }
  .button_custom:hover::after {
    left: 120%;
    -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    color: #fff;
  }
  .button_custom-yellow {/* muon thanh do thi doi background color di la dc vs ten class nua*/
    background-color: #e97c00;
    font-size: 1.5625rem;
    position: absolute;
    /* left: 80vw;
    top:-10px; */
    right: 10vw;
    top: 50px;
    padding: 10px 13px;
    
    
  }
.thucdon_combo{
    width:65%;
    height:1050px; 
    margin: 0 auto;
    display: none;
    flex-wrap: wrap;

}
.select_food
{
    max-width: 299.98px;
    height: 520.73px;
    text-align: center;
    font-family: "MergeBlack";
    padding: 30px 15px;
  

}
.border_right_bottom{
    border-right: 3px dashed #ffd984 ;
    border-bottom: 3px dashed #ffd984 ;
}
.border_right{
    border-right: 3px dashed #ffd984 ;
}
.border_bottom
{
    border-bottom: 3px dashed #ffd984 ;
}
@font-face {
    font-family: MergeBlack;
    src: url("../Font/MergeBlack.woff");
}


.price
{
    display:block;/*đổi lại kiểu hiển thị*/
    font-size:18px;
    color:#CE181F;
    text-align: center;
    font-family: "MergeBlack";
}  
.button_custom-red
{
    background-color: #c62026;;
    font-size: 1.5625rem;
    padding: 9px 30px;
    margin-top: 40px;
 
}
.thucdon_gagionvuive
{
    width:65%;
    margin: 0 auto;
    display: none;
    flex-wrap: wrap;
}
.display_flex {
    display: flex !important;
}
.thucdon_gasotcay
{
    width:65%;
    margin: 0 auto;
    display: none;
    flex-wrap: wrap;
}
.thucdon_myysotbobam{
    width:65%;
    margin: 0 auto;
    display: none;
    flex-wrap: wrap;
}
.thucdon_bugger_com{
    width:65%;
    margin: 0 auto;
    display: none;
    flex-wrap: wrap;
}.thucdon_phananphu{
    width:65%;
    margin: 0 auto;
    display: none;
    flex-wrap: wrap;
}.thucdon_montrangmieng{
    width:65%;
    margin: 0 auto;
    display: none;
    flex-wrap: wrap;
}
.thucdon_footer
{
    margin-top: 75px;
}
@media (max-width: 1199px) {
    .navbar-body {
        display: none;
    }
    .navbar-expand-lg .navbar-toggler {
        display: block;
    }
    .header-logo {
        padding-left: 8px;
        text-align: center;
    }
}
@media (max-width: 576px) {
    .logo-img img {
        width: 63%;
    }
    
    
}

@media (max-width:872px)
{
    .thanh_menu
    {
        height: 100px;
        
     }
}
